
<div id="INVESTMENT" class="home2">
    <div class="wrap">
      <div class="C-h2 C-h2-2"><span>INVESTMENT AREA</span></div>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="pic"><img src="/assets/images/area_web3.png" alt=""></div>
            <div class="intr flex-xend flex-column">
              <div class="intr-pic"><img src="/" alt=""></div>
              <p> Web 3.0</p>
            </div>
          </div>
            <div class="swiper-slide">
            <div class="pic"><img src="/assets/images/area_infra.png" alt=""></div>
            <div class="intr flex-xend flex-column">
              <div class="intr-pic"><img src="/" alt=""></div>
              <p>Infrastructures</p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="pic"><img src="/assets/images/area_meta.jpg" alt=""></div>
            <div class="intr flex-xend flex-column">
              <div class="intr-pic"><img src="/" alt=""></div>
              <p> Metaverse</p>
            </div>
          </div>


                    <div class="swiper-slide">
            <div class="pic"><img src="/assets/images/area_defi.jpg" alt=""></div>
            <div class="intr flex-xend flex-column">
              <div class="intr-pic"><img src="/" alt=""></div>
              <p> Defi</p>
            </div>
          </div>
                    <div class="swiper-slide">
            <div class="pic"><img src="/assets/images/area_privacy.jpg" alt=""></div>
            <div class="intr flex-xend flex-column">
              <div class="intr-pic"><img src="/" alt=""></div>
              <p>Privacy</p>
            </div>
          </div>
                    <div class="swiper-slide">
            <div class="pic"><img src="/assets/images/area_storage.jpg" alt=""></div>
            <div class="intr flex-xend flex-column">
              <div class="intr-pic"><img src="/" alt=""></div>
              <p>Storage</p>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>